# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Rust
target/
backend/target/

# SQL and Backups
*.sql
backend/migrations/*.sql
*.db
*.sqlite
*.gz
*.zip

# Database related
/db/
/backup/
/data/

# Environment
.env
.env.*
.secrets

# Security keys
*.key
*.pub
*.pem

# Temporary files
*.txt
wix/*.wixobj
wix/*.wixpdb

# PostgreSQL Binaries & Libraries (Local setup)
# (Included in resources during installation)
backend/resources/bin/
backend/resources/lib/
backend/resources/share/
test_db/

# Build artifacts
*.msi
wix/*.msi
!wix/.gitignore