{
    # Global options
    admin off
}

{$TAILSCALE_DOMAIN} {
    # Certificates
    tls ./certs/{$TAILSCALE_DOMAIN}.crt ./certs/{$TAILSCALE_DOMAIN}.key

    # Proxy to Axum
    reverse_proxy 127.0.0.1:3000

    # Optimization
    encode gzip zstd

    # Logging
    log {
        output file ./caddy_access.log
    }
}
